<div class="container court" style="height: 30vh; ">
  <div class="top-part" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('arena.jpeg')%>);">
    <h1>Add a New Court:</h1>
  </div>
</div>
<div class="container" style="height: 70vh; ">
  <%= simple_form_for(@court) do |f| %>
      <%= f.input :address, label_html: { class: 'court-new-label' }, input_html: { class: 'court-new-input' } %>
      <%= f.input :description, label_html: { class: 'court-new-label' }, input_html: { class: 'court-new-input' } %>
      <%= f.association :court_type, collection: CourtType.all, label_html: { class: 'court-new-label' }, input_html: { class: 'court-new-input' }%>
      <%= f.input :photo, as: :file, label_html: { class: 'court-new-label' }, input_html: { class: 'court-new-input' } %>
      <div class="d-flex justify-content-between pb-3">
        <%= link_to 'Back', courts_path, class: "btn btn-secondary"   %>
        <%= f.button :submit, class: "btn btn-success" %>
      </div>
      <% end  %>
</div>
