<div class="container court" style="height: 30vh; ">
  <div class="top-part" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('homepage.jpg')%>);">
    <h1>Add a New Court:</h1>
  </div>
</div>
<div class="container" style="height: 70vh; ">
  <%= simple_form_for(@court) do |f| %>
      <%#= f.input :address, label_html: { class: 'court-new-label' }, input_html: { class: 'court-new-input' } %>
       <%= f.input :address,
              input_html: { data: { geocoder_target: "address" }, class: 'court-new-input d-none' },
              label_html: { class: 'court-new-label' },
              wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] }, class: "new-court-wrapper mt-3" } %>
      <%= f.input :description, label_html: { class: 'court-new-label' }, input_html: { class: 'court-new-input' } %>
      <%= f.association :court_type, collection: CourtType.all, label_html: { class: 'court-new-label' }, input_html: { class: 'court-new-input' }%>
      <%= f.input :photo, as: :file, label_html: { class: 'court-new-label' }, input_html: { class: 'court-new-input' } %>
      <div class="d-flex justify-content-between pb-3">
        <%= link_to 'Back', courts_path, class: "btn btn-secondary mx-3" %>
        <%= f.button :submit, class: "btn btn-new-court mx-3" %>
      </div>
      <% end  %>
</div>
