<div class="container court" style="width: 100%; height: 100vh;">
  <div class="top-part" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @court.photo.attached? ? cl_image_path(@court.photo.key) : asset_path('/generic_image.jpeg')%>);">
    <div class="topshowpage">
      <div class="hearticon">
        <% if current_user.present? %>
          <%= link_to favorite_path(court_id: @court) do %>
            <% if current_user.favorited?(@court) %>
              <i class="fas fa-heart"></i>
            <% else %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
        <h1><%= @court.address %></h1>
        <div><%= render "reviews/star_rating", rating: @court.stars %></div>
    </div>
  </div>

  <%# Butttons or dropdown to get directions / to leave a review / to see all lessons for that court %>

  <div class="container checkin show-content">
    <div class="directions titlebox">
      <%= link_to '🗺 Get directions', "https://www.google.com/maps/place/#{@court.address}" %>
    </div>
    <div class="container rating star-container">
      <%= render "reviews/review_accordion", court: @court %>
    </div>
    <% if @court.lessons.any? %>
    <div class="lessons">
      <%= render "lessons/lessons_accordion", court: @court %>
    </div>
    <% end %>
  </div>

  <%# Here comes the check-in on a court logic %>
  <div class="container checkin w-100">
    <h6 style="margin-left: 10px">Let others know you'll be here & Check-In!</h6>
      <% if @latest_checkin.nil? %>
        <%= form_tag court_check_ins_path(@court), method: :post do %>
        <div class="alignonsameline">
          <div class="card">
              <label for="from">Starting Time</p>
              <%= time_field_tag :start_time, params[:start_time], class: "form-group", placeholder: "From" %>
          </div>
          <div class="card">
            <label for="until">End Time</p>
            <%= time_field_tag :end_time, params[:end_time], class: "form-group", placeholder: "Until" %>
          </div>
        </div>
          <div class="search-button">
            <%= submit_tag "Check in", class: "btn-flat check-in" %>
          </div>
        <% end %>
      <% else %>
        <div class= "confirmation">You're checked in from <%= @latest_checkin.start_time.to_s(:time)%> until <%= @latest_checkin.end_time.to_s(:time)%></div>
      <% end %>
    <div class="container_checkins titlebox">
      <p class="players">There are <%= @court.current_check_ins.count%> players checked in.</p>
    </div>
  </div>

  <%# Here comes the general information on the court text. We could think about taking it out completely %>

  <div class="court_text">
    <h4>General information</h4>
    <p><%= @court.description %></p>
    <p>Munich has a range of different courts across the city. Its players are generally from all around the world. The location around <%= "#{@court.address}" %> also offers great chillout areas and bars to relax afterwards.</p>
  </div>

</div>
