<div class="container court">
  <div class="top-part" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @court.photo.attached? ? cl_image_path(@court.photo.key) : asset_path('/generic_image.jpeg')%>);">
    <h1><%= @court.address %></h1>
  </div>
  <div class="container content">
    <div class="directions"><%= link_to '🗺 Get directions', "https://maps.google.com/#{@court.address}" %></div>
    <%# <div class="rating"><%= link_to '⭐️⭐️⭐️⭐️⭐️ See reviews', new_court_path</div> %>
    <a href="#"><div class="rating"></i>⭐️⭐️⭐️⭐️⭐️ See reviews </div></a>
    <div>
    <br>
      <h3>About the Court</h3>
      <p><%= @court.description %></p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, itaque, error ratione reiciendis sapiente delectus veniam quisquam voluptates cupiditate sunt deserunt dolorem distinctio quidem accusamus inventore dignissimos, obcaecati nulla magni!</p>
  <div class="checkin">
  <p class="players">There are <%= @court.current_check_ins.count%> players checked in.</p>
    <% if @latest_checkin.nil? %>
      <%= form_tag court_check_ins_path(@court), method: :post do %>
        <div class="card">
            <label for="from">Starting Time</p>
            <%= time_field_tag :start_time, params[:start_time], class: "form-group", placeholder: "From" %>
        </div>
        <div class="card">
          <label for="until">End Time</p>
          <%= time_field_tag :end_time, params[:end_time], class: "form-group", placeholder: "Until" %>
        </div>
        <div class="search-button">
          <%= submit_tag "Check-In", class: "btn btn-success check-in" %>
        </div>
      <% end %>
    <% else %>
      <div class= "confirmation">You're checked in from <%= @latest_checkin.start_time.to_s(:time)%> until <%= @latest_checkin.end_time.to_s(:time)%></div>
    <% end %>
  </div>
</div>
