<div class="container court" style="width: 100%; height: 100vh;">
  <div class="top-part" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @court.photo.attached? ? cl_image_path(@court.photo.key) : asset_path('/generic_image.jpeg')%>);">
    <h1><%= @court.address %></h1>
  </div>
  <div class="container content">
    <div class="directions"><%= link_to '🗺 Get directions', "https://www.google.com/maps/place/#{@court.address}" %></div>
    <%# <div class="rating"><%= link_to '⭐️⭐️⭐️⭐️⭐️ See reviews', courts_path</div> %>
    <div class="container rating">
      <h3> Reviews </h3>
        <p>Average rating: <%= @court.average_rating %></p>
        <%= render "reviews/star_rating", rating: @court.stars %>
      <% @court.reviews.each do |review| %>
        <%= render "reviews/review", review: review %>
      <% end %>
    </div>
    <div class="container rating">
      <%# <a href="#"><div class="rating"></i>⭐️⭐️⭐️⭐️⭐️ See reviews </div></a> %>
        <%= simple_form_for([@court, @court.reviews.build]) do |f| %>
          <%#= f.input :rating, collection: [1,2,3,4,5] %>
          <%= f.input :rating, collection: (1..5).to_a %>
          <%= f.input :title %>
          <%= f.input :content %>
          <%= f.button :submit %>
        <% end %>
    </div>
    <div>
  <div class="container_checkins">
    <p class="players">There are <%= @court.current_check_ins.count%> players checked in.</p>
  </div>
  <div class="container checkin">
    <% if @latest_checkin.nil? %>
      <%= form_tag court_check_ins_path(@court), method: :post do %>
      <div class="alignonsameline">
        <div class="card">
            <label for="from">Starting Time</p>
            <%= time_field_tag :start_time, params[:start_time], class: "form-group", placeholder: "From" %>
        </div>
        <div class="card">
          <label for="until">End Time</p>
          <%= time_field_tag :end_time, params[:end_time], class: "form-group", placeholder: "Until" %>
        </div>
      </div>
        <div class="search-button">
          <%= submit_tag "Check-In", class: "btn btn-success check-in" %>
        </div>
      <% end %>
    <% else %>
      <div class= "confirmation">You're checked in from <%= @latest_checkin.start_time.to_s(:time)%> until <%= @latest_checkin.end_time.to_s(:time)%></div>
    <% end %>
  </div>
  <br>
  <div class="court_text">
    <h4>General information</h4>
    <p><%= @court.description %></p>
    <p>Munich has a range of different courts across the city. Its players are generally from all around the world. The location around <%= "#{@court.address}" %> also offers great chillout areas and bars to relax afterwards.</p>
  </div>
</div>
