<div class="container court" style="width: 100%; height: 100vh;">
  <div class="top-part" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @court.photo.attached? ? cl_image_path(@court.photo.key) : asset_path('/generic_image.jpeg')%>);">
    <%= link_to favorite_path(court_id: @court) do %>
      <% if current_user.favorited?(@court) %>
        <i class="fas fa-heart"></i>
      <% else %>
        <i class="far fa-heart"></i>
      <% end %>
    <% end %>
    <h1><%= @court.address %></h1>
  </div>
  <div class="container content">
    <div class="directions"><%= link_to '🗺 Get directions', "https://www.google.com/maps/place/#{@court.address}" %></div>
    <%# <div class="rating"><%= link_to '⭐️⭐️⭐️⭐️⭐️ See reviews', new_court_path</div> %>
    <a href="#"><div class="rating"></i>⭐️⭐️⭐️⭐️⭐️ See reviews </div></a>
    <div>
  <div class="container_checkins">
    <p class="players">There are <%= @court.current_check_ins.count%> players checked in.</p>
  </div>
  <div class="container checkin">
    <% if @latest_checkin.nil? %>
      <%= form_tag court_check_ins_path(@court), method: :post do %>
      <div class="alignonsameline">
        <div class="card">
            <label for="from">Starting Time</p>
            <%= time_field_tag :start_time, params[:start_time], class: "form-group", placeholder: "From" %>
        </div>
        <div class="card">
          <label for="until">End Time</p>
          <%= time_field_tag :end_time, params[:end_time], class: "form-group", placeholder: "Until" %>
        </div>
      </div>
        <div class="search-button">
          <%= submit_tag "Check-In", class: "btn-flat check-in" %>
        </div>
      <% end %>
    <% else %>
      <div class= "confirmation">You're checked in from <%= @latest_checkin.start_time.to_s(:time)%> until <%= @latest_checkin.end_time.to_s(:time)%></div>
    <% end %>
  </div>
  <br>
  <div class="court_text">
    <h4>General information</h4>
    <p><%= @court.description %></p>
    <p>Munich has a range of different courts across the city. Its players are generally from all around the world. The location around <%= "#{@court.address}" %> also offers great chillout areas and bars to relax afterwards.</p>
  </div>
</div>
