<!-- container storing basic text -->
<div class="banner">
  <div class="banner-container">
    <div class="banner-text">
      <h2>Looking for an outdoor activity?</h2>
      <p>Find all the courts in your neighborhood</p>
    </div>
  </div>
  <!-- container storing search bar w/ different user inputs -->
  <div class="container homepage">
    <div class="card-index">
      <div class="card">
        <label for="court" class="center"><p>Where do you want to play?</p>
        <%= form_tag courts_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-group",
            placeholder: "Find your city"
          %>
          <p>Which sports are you interested in?</p>
          <div class="card-index">
            <%= label_tag 'volleyball', 'Beach Volleyball' %>
            <%= check_box_tag "volleyball", true %>
          </div>
          <div class="card-index">
            <%= label_tag 'basketball', 'Basketball' %>
            <%= check_box_tag "basketball", true %>
          </div>
          <div class="card-index">
            <%= label_tag 'ping pong', 'Ping pong' %>
            <%= check_box_tag "ping_pong", true %>
          </div>
          <br>
          <%= submit_tag "Find your spots!", class: "btn btn-flat" %>
        <% end %>
      </div>
    </div>
  </div>
<!-- search button that pushes to next action / tools overview page -->
</div>
