<div class="container card-lesson">
  <div class="card-lesson-infos">
    <% @court.lessons.each do |lesson| %>
      <h2><%= lesson.title %></h2>
      <p><%= lesson.description %></p>
      <div class="details">
        <p>⏱ <%= lesson.start_time.strftime("%H:%M") %> - <%= lesson.end_time.strftime("%H:%M") %></p>
        <p><%= lesson.price%>0€ </p>
      </div>
    <% end %>
  </div>
</div>
