<div class="accordion" id="accordionReview">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Reviews
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionReview">
      <div class="accordion-body">
        <% court.reviews.each do |review| %>
          <%= render "reviews/review", review: review %>
        <% end %>
        <div class="container rating">
          <%= simple_form_for([@court, @court.reviews.build]) do |f| %>
            <%= f.input :rating, collection: (1..5).to_a %>
            <%= f.input :title %>
            <%= f.input :content %>
            <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
